/* Green */

a {
color: #9ad265;
}

blockquote {
background: url(bq_green.png?ln=images) 5px 5px no-repeat;
}

.code {
border-left: 5px solid #9ad265;
}

ul li {
background: url(green_ul.png?ln=images) no-repeat 0 6px;
}

#showcase_inner_right h3{
background: url(green_bullet.png?ln=images) 2px 1px no-repeat;
}

#showcase_inner_right .moduletable h3,
#showcase_inner_left .moduletable h3 {
background: url(green_bullet.png?ln=images) 2px 1px no-repeat;
}

.componentheading {
background: url(green_button.png?ln=images) 2px 2px no-repeat;
}

#showcase {
background:#9ad265;
}

#no_showcase {
background:#9ad265;
}

#menu a {
background:#fff;
border-left:3px solid #9ad265; 
border-right:3px solid #9ad265; 
border-top:3px solid #9ad265; 
}

#menu a#active_menu {
background:#9ad265;
}

#rightcolwrap .moduletable {
border:4px solid #9ad265;
}

#rightcolwrap .moduletable h3 {
background:#9ad265 url(green_bullet.png?ln=images) 2px 0px no-repeat;
color:#fff;
}

#rightcolwrap .moduletable-white h3 {
background:#fff url(green_bullet.png?ln=images) 2px 0px no-repeat;
}

#pathway {
background:url(green_bullet.png?ln=images) 0 0 no-repeat;
}

a.readon {
border:3px solid #9ad265;
}

a.readon:hover {
color:white;
background:#9ad265;
}

.inputbox {
border: 2px solid #9ad265;
}

#footer {
border-top:10px solid #9ad265;
}

#rightcolwrap a.mainlevel,
#showcase_inner_right a.mainlevel {
	border-bottom:1px solid #9ad265;
}

th {
	background:#9ad265;
	color:white;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
	text-align:center;
}

td {
	text-align:center;
	
}