<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <!--
    <listener>
        <listener-class>listeners.ContextListener</listener-class>
    </listener>
    -->

    <servlet>
        <servlet-name>TestServlet3</servlet-name>
        <servlet-class>database.TestServlet3</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestServlet2</servlet-name>
        <servlet-class>database.TestServlet2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestServlet1</servlet-name>
        <servlet-class>database.TestServlet1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>servlets.CategoryServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>servlets.LanguageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet3</servlet-name>
        <url-pattern>/TestServlet3</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestServlet2</servlet-name>
        <url-pattern>/TestServlet2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestServlet1</servlet-name>
        <url-pattern>/TestServlet1</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/languageChoice</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.messages</param-value>
    </context-param>

    <!-- This is only needed for testing the datasource (TestDataSource.jsp) -->
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/affablebean</description>
        <res-ref-name>jdbc/affableBean</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/jsp/header.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-coda>/WEB-INF/jsp/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
