<!--
 The contents of this file are subject to the terms
 of the Common Development and Distribution License
 (the License).  You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the license at
 https://woodstock.dev.java.net/public/CDDLv1.0.html.
 See the License for the specific language governing
 permissions and limitations under the License.
 
 When distributing Covered Code, include this CDDL
 Header Notice in each file and include the License file
 at https://woodstock.dev.java.net/public/CDDLv1.0.html.
 If applicable, add the following below the CDDL Header,
 with the fields enclosed by brackets [] replaced by
 you own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Copyright 2007 Sun Microsystems, Inc. All rights reserved.
-->
Packages examined in compilation unit:
#foreach ($packageName in $packageNameSet)
    ${packageName}
#end

Total number of components found: ${componentInfoSet.size()}
Total number of renderers found: ${rendererInfoSet.size()}


Components
----------
#foreach ($componentInfo in $componentInfoSet)
#if ($componentInfo.superClassInfo)
    ${componentInfo.displayName} (${componentInfo.qualifiedName} extends ${componentInfo.superClassInfo.qualifiedName})
#else
    ${componentInfo.displayName} (${componentInfo.qualifiedName})
#end
        Declared Properties:
#foreach ($propertyInfo in $componentInfo.propertyInfoMap)
            $propertyInfo.name ($propertyInfo.type)
#end
        Inherited Properties:
#foreach ($propertyInfo in $componentInfo.inheritedPropertyInfoMap)
            $propertyInfo.name ($propertyInfo.type)
#end
        Events:
#foreach ($eventInfo in $componentInfo.inheritedEventInfoMap)
            $eventInfo.name (listener = ${eventInfo.listenerClassName}, method = ${eventInfo.listenerMethodSignature})
#end
#end
    