*
{
border: 0;
margin: 0;
}


body{
width:1024px;
margin-left:auto;
margin-right:auto;
background: rgb(146,33,109);
color: rgb(51,51,0);
font-family: Lucida Console,arial, helvetica, sans-serif;
font-size: 12px;
padding: 0px;
}


#header{
background: #fff;
color: #000000;
margin: 0;
position: relative;
text-align: right;
border-bottom: solid 35px #ccc;
height:120px;
background-image:url(logo.gif?ln=images);
background-repeat:no-repeat;

}


#content{
height:600px;
background:rgb(255,255,255) url(beez.png?ln=images) right center no-repeat;
}

#content p{
width:600px;
margin-left:10px;
text-align:justify;
line-height:150%;
}


#footer{
background:#93246F;
color:#fff;
padding:5px;
text-align:right;
border-top:solid 4px #ccc;

}


#menu ul
{
	background:#fff;
	display:block;
	margin:-7px 0 -2px;
	padding:5px 0;
	text-align:right;
	float:right;
}

#menu ul li
{
	background:#000;
	color:#fff;
	display:inline;
	text-align:center;
}

#menu ul li a:link,#menu ul li a:visited
{
	background:#fff;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
  	float:left;
  	display:block;
  	height: 20px;
  	line-height: 20px;
  	padding: 1px 25px 0 20px;
  	text-decoration: none;
  	font-weight:bold;
	background: url(lupe.gif?ln=images) top left no-repeat;
}

th {
background-color:rgb(0,0,0);
color:gold;
text-align:center;
font-size: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

td {
text-align:center;
font-size: 11px;
}

a:link,a:visited
{
	color:#000;
}

h2 {
	font-size:15px;
	font-weight:bold;
	margin:10px;
	color:#000;
	font-family:Comic Sans Ms;
}

h3 {
	font-size:15px;
	font-weight:bold;
	margin:10px;
	color:#000;
	font-family:Comic Sans Ms;
}

h4 {
	border:solid 0;
	color:#000;
	font-size:1em;
}

#logo {
margin-top:20px;
margin-left:4px;
font-size:20px;
float:left;
}
